.accordionHidden {
  display: none;
}

.accordionContent {
  margin-top: 5px;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  position: relative;
  max-width: 100%;
}

.accordionHidden:not(:checked) ~ .accordionContent {
  height: 0;
  margin: 0;
}

.accordionHidden:checked ~ .accordionContent {
  max-height: 1000px;
  opacity: 1;
  margin-top: 14px;
}

.accordion {
  border: 1px solid #c5c5c5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.accordionTitle {
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.accordionTitle:hover,
.accordionTitle:focus {
  text-decoration: underline;
}

.accordionTitle::before {
  display: inline-block;
  margin-right: 10px;
  color: var(--primary);
  content: "+";
}

.accordionHidden:checked ~ .accordionTitle::after {
  content: "-";
}

@media screen and (--medium-viewport) {
  .accordion {
    max-width: 270px;
  }
}

@media screen and (--small-viewport) {
  .accordion {
    max-width: 200px;
  }
}
