.PaginationItem {
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  border: 2px solid transparent;
  cursor: pointer;
  font-family: var(--secondaryFontFamily);
}

.PaginationItem > svg {
  fill: currentColor;
  color: var(--primary);
  height: 1.5em;
}

.current {
  border-color: var(--primary);
}

.notClickable {
  opacity: 0.8;
  cursor: default;
}

.unstyledLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  appearance: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.unstyledLink:focus-visible {
  border: 2px dashed var(--primary);
  outline: none;
}

.unstyledLink:hover {
  cursor: pointer;
}
