@import 'tailwindcss' source('../../');

@theme {
  /* Colors for Tailwind utilities */
  --color-white: #f7f7f7;
  --color-primary: #3ed6f0;
  --color-secondary: #252e3e;
  --color-burnt-orange: hsl(14 55% 45%);
  --color-theme-gray-800: #e2e2e2;
  --color-error: hsl(355 70% 91%);
  --color-error-deep: hsl(355 63% 34%);
  --color-success: hsl(132 35% 88%);
  --color-success-deep: hsl(132 60% 23%);
  --color-warning: hsl(46 100% 90%);
  --color-warning-deep: hsl(39 80% 31%);
  --font-family-bebas: 'Bebas Neue', sans-serif;
  --font-family-encode: 'Encode Sans', sans-serif;
  --spacing-prose: 65ch;
}

@layer base {
  html {
    @apply font-family-encode size-full m-0 p-0 text-lg font-normal;
    color: #47566b;
  }

  body {
    @apply min-h-screen min-w-xs m-0 hyphens-none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-family-bebas uppercase tracking-widest;
  }

  footer {
    @apply bg-secondary text-white;
  }

  a {
    @apply hover:underline;
  }

  p {
    @apply max-w-prose;
  }
}

/* Custom font scaling formula https://blog.envylabs.com/responsive-typographic-scales-in-css-b9f60431d1c4 */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.125rem;
}

code {
  background-color: #f0f2f2;
  border-radius: 4px;
  border-style: solid;
  border-color: #f0f2f2;
}
