/* IMPORTANT: Only change colors in this file if branding changes! */
:root {
  --primary: #249cbc;
  --primaryLight: #4ac2e2;
  --primaryDark: #007696;
  --secondary: #d1665a;
  --secondaryLight: #f78c80;
  --secondaryDark: #ab4034;
  --mist: #f0f2f2;
  --navy: #252e3e;
  --slate: #47566b;
  --slateLight: #6d7c91;
  --slateDark: #213045;
  --gray: #9baab5;
  --grayLight: #d0d5da;
  --grayDark: #75848f;
  --borderRadius: 3px;
  --navBarHeight: 65px;
}
