/* IMPORTANT: Please run `yarn storybook` when file changes to update `./themeMap.js` */
:root {
  /* Colors */
  --primary: #3ed6f0; /* cerulean */
  --secondary: #252e3e; /* navy */
  --gray: #e2e2e2; /* gainsboro */
  --white: #f7f7f7; /* offwhite */

  /* Fonts */
  --primaryFontFamily: "DIN Condensed Bold";
  --secondaryFontFamily: "Encode Sans";

  /* Viewports (for media queries) */
  --smallViewportWidth: 576px;
  --mediumViewportWidth: 768px;
  --largeViewportWidth: 992px;
  --extraLargeViewportWidth: 1200px;

  /* Commonly referenced dimensions */
  --borderRadius: 3px;
  --navBarHeight: 65px;
  --navBarTopGutterHeight: 20px;
}

@custom-media --small-viewport (max-width: 576px);
@custom-media --medium-viewport (max-width: 768px);
@custom-media --large-viewport (max-width: 992px);
@custom-media --extra-large-viewport (max-width: 768px);
