.CloseButton {
  top: 1rem;
  right: 1rem;
  background: var(--slate);
  border-radius: 50%;
  border: none;
  position: absolute;
}

.CloseButton:disabled {
  cursor: not-allowed;
  background-color: var(--slateLight);
  opacity: 0.5;
}

.CloseButton:focus {
  outline: 1px solid var(--slate);
  outline-offset: 1px;
}

.CloseButton:hover:not(:disabled) {
  background-color: var(--slateDark);
  cursor: pointer;
  outline: none;
}

.icon {
  fill: var(--mist);
  padding: 0.7rem 0.35rem 0.5rem 0.35rem;
  width: 1rem;
}

/* TODO: Create disabled styles */
