.ImageCard {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  margin: 15px;
  width: 600px;
}

.image {
  height: 200px;
  width: 300px;
}

.cardImage {
  height: 200px;
  width: 300px;
}

.cardText {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 150px;
  justify-content: space-around;
  margin: 25px;
  width: 250px;
}

.cardText > h6 {
  font-size: 1.2rem;
  text-align: center;
}

.cardText > p {
  font-size: 0.9rem;
  text-align: left;
}

/* Vertical space between cards for vertical layout */
@media screen and (max-width: 667px) {
  .ImageCard {
    height: 400px;
    width: 300px;
  }

  .cardText > h6 {
    font-size: 1.3rem;
  }
}
