.ImageCard {
  flex-flow: row wrap;
  height: 200px;
  justify-content: flex-start;
  padding: 0;
  width: 600px;
}

.image {
  height: 100%;
  width: 50%;
}

.content {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  overflow: hidden; /* prevent devs from bloating this component */
  margin: 0 1rem; /* margin subtracted from width and height */
  height: 100%; /* 1rem margin top AND bottom hence 2rem */
  width: calc(50% - 2rem); /* 1rem margin left AND right hence 2rem */
}

/* Vertical space between cards for vertical layout */
@media screen and (max-width: 768px) {
  .ImageCard {
    height: 400px;
    width: 300px;
  }

  .image {
    height: 50%;
    width: 100%;
  }

  .content {
    height: 50%;
    width: 100%;
  }
}
