{
  "env": {
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "components": "./components",
              "common": "./common",
              "pages": "./pages",
              "static": "./static"
            }
          }
        ]
      ]
    },
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "targets": {
                "browsers": "last 1 Chrome version",
                "node": true
              }
            },
            "transform-runtime": {
              "regenerator": false,
              "useBuiltIns": true,
              "polyfill": false
            }
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "components": "./components",
              "common": "./common",
              "pages": "./pages",
              "static": "./static"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [["next/babel", { "env": { "modules": "commonjs" }}]]
    }
  }
}
