{
  "env": {
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        ["react-remove-properties", { "properties": ["data-testid"] }]
      ],
    },
    "development": {
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "common": "./common",
          "pages": "./pages",
          "scripts": "./scripts",
          "static": "./static",
          "store": "./store",
          "test-utils": "./test-utils"
        }
      }
    ]
  ]
}
