{
  "extends": ["airbnb", "plugin:jsx-a11y/recommended", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "jsx-a11y/anchor-is-valid": ["error", { "components": ["Link"], "specialLink": ["to"] }],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "max-len": ["error",  { "code": 100, "ignoreUrls": true }],
    "multiline-ternary": ["error", "always-multiline"],
    "no-console": "warn",
    "no-use-before-define": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "multiline": true, "consistent": true },
        "ObjectPattern": { "multiline": true, "consistent": true },
        "ImportDeclaration": { "multiline": false },
        "ExportDeclaration": { "multiline": true, "consistent": true }
      }
    ],
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/jsx-curly-brace-presence": ["error", { "props": "never", "children": "never" }],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "react/jsx-one-expression-per-line": "off",
    "react/prefer-stateless-function": ["error", { "ignorePureComponents": true }],
    "react/no-did-mount-set-state": "off",
    "react/no-unused-prop-types": "off",
    "react/no-unused-state": "error"
  },
  "overrides": [
    {
      "files": ["*.test.js", "*.spec.js"],
      "rules": {
        "function-paren-newline": ["error", "consistent"]
      }
    },
    {
      "files": ["pages/**.js", "components/**.js"],
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    },
    {
      "files": ["components/nav.js"],
      "rules": {
        "jsx-a11y/anchor-is-valid": "off"
      }
    }
  ]
}
