{
  "extends": ["airbnb", "plugin:jsx-a11y/recommended"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": "error",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "jsx-a11y/anchor-is-valid": ["error", { "components": ["Link"], "specialLink": ["to"] }],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "max-len": [
      "error",
      100,
      {
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-console": "warn",
    "no-use-before-define": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": "always",
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ],
    "react/forbid-prop-types": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-curly-brace-presence": [2, { "props": "never", "children": "never" }],
    "react/jsx-max-props-per-line": [2, { "maximum": 1, "when": "always" }],
    "react/no-did-mount-set-state": "off",
    "react/no-unused-state": "error",
    "react/prefer-stateless-function": "error"
  }
}
