node_modules
package.json
yarn.lock
.babelrc
**/.babelrc
.next
.github
bin
static
cypress-coverage
jest-coverage
.storybook-dist
common/styles/themeMap.js
**/*.snap
**/*.mp4
**/*.png
**/*.jpeg
**/*.jpg
**/*.txt
**/*.xml
**/*.ico
