node_modules
package.json
pnpm-lock.yaml
.babelrc
**/.babelrc
.next
.github
bin
static
cypress-coverage
vitest-coverage
.storybook-dist
**/*.snap
**/*.mp4
**/*.png
**/*.jpeg
**/*.jpg
**/*.txt
**/*.xml
**/*.ico
