.job {
  padding: 1rem 0;
}

.details {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.125rem;
  color: var(--secondary);
  opacity: 0.8;
  margin-top: 0.25rem;
}

.detailsContainer {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.detail {
  margin-left: 4px;
}

.description {
  margin: 0;
}

.remote {
  composes: detail;
  font-style: italic;
}

.icon {
  fill: var(--secondary);
  opacity: 0.8;
  height: 0.825rem;
}
