.JoinSection {
  background-image: url("https://s3.amazonaws.com/operationcode-assets/background_marching-troops.jpg");
}

.joinText {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
}

.joinText p {
  font-size: 1.25rem;
}

.joinText p:last-of-type {
  padding-bottom: 2rem;
}
