.JoinSection {
  align-items: center;
  max-width: 900px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.form > input {
  width: 300px;
}
