.ResourceCard {
  font-family: var(--secondaryFontFamily), sans-serif;
  margin: 1rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resourceName {
  display: inline;
  flex: 1;
}

.link svg {
  top: 0;
  left: 0.5rem;
}

.descriptionText {
  overflow: hidden;
  position: relative;
}

.votingBlock {
  align-items: center;
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
}

.desktopVotingBlock {
  display: flex;
  margin: 0 -2rem 0 1rem;
}

.mobileVotingBlock {
  display: none;
  justify-content: space-between;
  border-top: 1px solid var(--gray);
  padding-top: 1rem;
}

@media screen and (--medium-viewport) {
  .desktopVotingBlock {
    display: none;
  }

  .mobileVotingBlock {
    display: flex;
  }
}

.votingBlockHeader {
  margin-right: 1rem;
}

.voteInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.voteCount {
  margin: 0 0.75rem;
}

.voteButton {
  background-color: inherit;
  border: 1px solid var(--secondary);
  display: flex;
  font-size: 1rem;
  margin: 0 0.25rem;
  padding: 0.5rem 0.35rem;
  text-decoration: none;
}

.voteButton,
.voteCount {
  opacity: 0.6;
}

.voteButton svg {
  height: 1rem;
  margin: 0 0.5rem;
}

.voteButton:focus,
.voteButton:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.active {
  opacity: 1;
}

.icon {
  color: var(--secondary);
}

/* `.icon g` represents the negative space of Thumb icons */
.icon g {
  transition: 0.2s fill linear;
  fill: var(--white);
}

.icon.active g {
  transition: 0.2s fill linear;
  fill: var(--primary);
}

.voteButton:focus .icon:not(.active) g,
.voteButton:hover .icon:not(.active) g {
  fill: var(--gray);
}
