.SocialMediaContainer {
  display: flex;
<<<<<<< HEAD
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .SocialMediaContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
=======
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
>>>>>>> 1e3818fe1ed61deeda96881e0e7a718d44c1dd4e
