.loginBtn {
  align-self: center;
  margin-top: 2rem;
  width: 100%;
}

.resetBtn {
  margin-top: 0.5em;
  text-align: center;
}

.loginError {
  color: red;
  font-weight: bold;
}

.gridRow {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 780px) {
  .gridRow {
    flex-direction: row;
  }

  .gridRow > div {
    width: 50%;
    box-sizing: border-box;
  }
}
