.ClipPathImage {
  color: var(--mist);
  text-decoration: none;
  padding: 0;
  height: 240px;
  width: 300px;
}

.image {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 85%);
  height: 200px;
  width: 300px;
}

.title {
  bottom: 1rem;
  position: relative;
  text-align: center;
}

.primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.slate {
  background-color: var(--slate);
  border-color: var(--slate);
}
