.icon {
  width: 18px;
  pointer-events: none;
}

.iconFillWhite {
  fill: #f7f7f7;
}

.iconFillBlue {
  fill: #252e3e;
}

.iconVisible {
  visibility: visible;
}

.iconHidden {
  visibility: hidden;
}

.anchorDefault {
  float: left;
  line-height: 2.25;
  height: 36px;
  margin-right: 10px;
  outline: none;
}

.anchorEventHeadingTitleOffset {
  float: left;
  line-height: 1;
  height: 36px;
  margin-right: 10px;
  outline: none;
}
