/* File has _ in front of name so that it appears first on file explorer 🤷‍♂️ */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pulledLeft {
  justify-content: flex-start;
}

.fullWidth {
  width: 100%;
}
