.MultiStepForm {
  width: 100%;
}

.containerFormErrorMessage {
  display: flex;
  justify-content: center;
}

.buttonGrouping {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.forceButtonRight {
  justify-content: flex-end;
}
