.SuccessStory {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding-top: 60px;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  width: 150px;
  max-width: 150px;
  height: 150px;
  max-height: 150px;
  flex: 1 0 auto;
}

.quote {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  margin: 15px;
  padding: 30px;
  padding-top: 110px;
  border: 3px solid #41a4c0;
}

.quote > blockquote {
  font-size: 0.9rem;
  margin: 0;
  margin: 15px 0;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  text-align: center;
}
