.SuccessStory {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 3rem 1rem;
  padding-top: 60px;
  position: relative;
  max-width: 320px;
  height: 940px;
}

.imageWrapper {
  position: absolute;
  top: 0;
  height: 200px;
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.35);
}

.quote {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
  padding-top: 160px;
  border: 3px solid var(--primary);
}

.quote > blockquote {
  margin: 1rem 0;
  font-style: italic;
  font-size: 1rem;
}

.title {
  text-align: center;
  font-size: 1rem;
}

@media screen and (--medium-viewport) {
  .SuccessStory {
    height: 748px;
  }
}

@media screen and (--small-viewport) {
  .SuccessStory {
    height: auto;
  }
}
