version: 2.1

jobs:
  build:
    docker:
      - image: cypress/base:8
        environment: # environment variables for primary container
          CC_TEST_REPORTER_ID: 0f2bc6ef737019bfc8eda369cd06b66c54606b144b4d81cec010fb494d2559af

    steps:

      - checkout

      - run: sudo chown -R circleci:circleci /usr/local/bin

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install dependencies
          command: |
            yarn global add greenkeeper-lockfile@2

            if [[ ${CIRCLE_BRANCH} == greenkeeper* ]]; then
                  yarn --silent;
            else
                  yarn --silent --frozen-lockfile --production=false;
            fi

      - run:
          name: Initializing CodeClimate
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > /usr/local/bin/cc-test-reporter
            chmod +x /usr/local/bin/cc-test-reporter
            /usr/local/bin/cc-test-reporter before-build

      - save_cache:
          paths:
            - node_modules
            - ~/.cache
          key: v1-dependencies-{{ checksum "package.json" }}

      # Run tests
      - run:
          name: Run Tests
          command: |
            yarn lint
            yarn test:ci --max-workers=2
            yarn start-server-and-test dev http://localhost:3000 test:e2e:ci

      - run:
          name: Post test scripts
          command: |
            greenkeeper-lockfile-upload
            /usr/local/bin/cc-test-reporter after-build
