version: 2.1

orbs:
  cypress: cypress-io/cypress@2.2.0

executors:
  default:
    docker:
      - image: cypress/browsers:22.15.0

parameters:
  workspace_root:
    type: string
    default: '~/'
  primary_cache_key:
    type: string
    default: 'oc-ci-2-{{ .Branch }}-{{ checksum "yarn.lock" }}'
  backup_cache_key:
    type: string
    default: 'oc-ci-2-{{ .Branch }}-'
  org_level_cache_key:
    type: string
    default: 'oc-ci-2-'

aliases:
  - &attach_workspace
    attach_workspace:
      at: << pipeline.parameters.workspace_root >>
  - &restore_cache
    restore_cache:
      keys:
        - << pipeline.parameters.primary_cache_key >>
        # Fallback in case checksum fails.
        - << pipeline.parameters.backup_cache_key >>
        - << pipeline.parameters.org_level_cache_key >>
  - &yarn_install
    run:
      name: 'Installing dependencies...'
      command: yarn install --non-interactive --frozen-lockfile --cache_folder << pipeline.parameters.workspace_root >>.cache/yarn

jobs:
  install_dependencies:
    executor: default
    steps:
      - checkout
      - *attach_workspace
      - *restore_cache
      - *yarn_install
      - save_cache:
          key: << pipeline.parameters.primary_cache_key >>
          paths:
            - node_modules
            - << pipeline.parameters.workspace_root >>.cache/yarn
            - << pipeline.parameters.workspace_root >>.cache/Cypress
      - run: node --version
      - run: yarn --version

  unit_tests:
    executor: default
    steps:
      - checkout
      - *attach_workspace
      - *restore_cache
      - *yarn_install
      - run:
          name: Run tests
          command: yarn test:ci

  lint:
    executor: default
    steps:
      - checkout
      - *attach_workspace
      - *restore_cache
      - *yarn_install
      - run:
          name: Lint
          command: |
            yarn lint:ci

workflows:
  default:
    jobs:
      - install_dependencies

      - unit_tests:
          requires:
            - install_dependencies

      - lint:
          requires:
            - install_dependencies
