.SocialLoginMessage {
  margin: 1rem 0 2rem 0;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonContainer > * {
  margin: 10px;
}

.signup span {
  padding: 10px 8px 30px 8px;
  font-size: 16px;
}

.signupForm {
  max-width: 500px;
  display: flex;
  margin: auto;
  border: 1px solid rgb(92, 105, 122);
  padding: 10px;
  width: 100%;
}

.joinButton {
  margin-top: 10px;
  width: 100%;
  align-self: flex-start;
}

.errorList {
  align-self: center;
  color: #ff665a;
  font-size: 1.5rem;
  font-weight: 800;
  list-style-position: inside;
  margin-bottom: 12px;
  margin-top: 12px;
}

.errorMessage {
  padding-left: 20px;
}

@media screen and (max-width: 599px) {
  .signupForm {
    max-width: 298px;
    margin: auto;
    border: 1px solid rgb(92, 105, 122);
    padding: 10px;
  }

  .signup h2 {
    font-size: 26px;
  }

  .errorList {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 321px) {
  .signupForm {
    border-left-style: none;
    border-right-style: none;
  }

  .signup h2 {
    font-size: 20px;
  }
}
