/* File has _ in front of name so that it appears first on file explorer 🤷‍♂️ */
.row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.row > * {
  margin: 0;
}

.pulledLeft {
  justify-content: flex-start;
}

.fullWidth {
  width: 100%;
}
