.NavMobile {
  display: flex;
  position: absolute;
  background-color: var(--gray);
  height: var(--navBarHeight);
  width: 100%;
}

.logo {
  position: relative;
  max-height: 50%;
  max-width: 50%;
  top: 16.25px;
  left: 2rem;
  cursor: pointer;
}

.icon {
  position: absolute;
  width: 35px;
  top: 16px;
  right: 2rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: var(--navBarHeight);
  right: 0;
  background-color: var(--gray);
  width: auto;
}

.ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  padding: 15px;
  margin: 0;
  list-style: none;
  font-size: 14px;
}

.li {
  padding: 20px 10px;
}

.a {
  text-decoration: none;
  color: var(--secondary);
  fill: var(--secondary);
  transition: all 0.2s linear;
  font-weight: bolder;
}

.a:hover {
  cursor: pointer;
  color: var(--primary);
  fill: var(--primary);
  transition: all 0.2s linear;
}
