.NavMobile {
  display: flex;
  position: absolute;
  background-color: var(--gray);
  height: var(--navBarHeight);
  width: 100%;
}

.logo {
  max-width: 150px;
}

.menu {
  position: fixed;
  right: 0;
}

.icon {
  width: 40px;
}
