.NavMobile {
  display: flex;
  position: absolute;
  background-color: var(--gray);
  height: var(--navBarHeight);
  width: 100%;
}

.logo {
  position: relative;
  max-height: 50%;
  max-width: 50%;
  top: 16.25px;
  left: 2rem;
}

.icon {
  position: absolute;
  width: 35px;
  top: 16px;
  right: 2rem;
}

.dropdown {
  position: absolute;
  top: var(--navBarHeight);
  right: 0;
  background-color: var(--gray);
  width: 300px;
  height: 170px;
  padding: 1rem;
}

.ul {
  columns: 3;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  margin: initial;
  padding: initial;
}

/*
multi column containers have a weird margin on the first column, see pictures of
'https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Columns/Styling_Columns#Summary'
*/
li:first-child {
  margin-top: 0;
}

.li {
  margin: 2rem 1rem 1rem;
}

.a {
  text-decoration: none;
  color: var(--secondary);
  fill: var(--secondary);
  transition: all 0.2s linear;
  font-weight: bolder;
}

.a:hover {
  cursor: pointer;
  color: var(--primary);
  fill: var(--primary);
  transition: all 0.2s linear;
}
