.Section {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 3rem;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }
}

/* Dark Themes */
.gray,
.slate {
  color: #ffffff;
}

.gray {
  background-color: var(--gray);
}

.slate {
  background-color: var(--slate);
}

/* Light Themes */
.grayLight,
.white {
  color: var(--slate);
}

.grayLight {
  background-color: var(--grayLight);
}

.white {
  background-color: var(--mist);
}
