.fontsList {
  list-style: none;
  width: 100%;
}

.fontsList > li {
  margin: 1rem;
}

.primaryFontFamily div > h6,
.primaryFontFamily div > p {
  font-family: var(--primaryFontFamily), sans-serif;
}

.secondaryFontFamily div > h6,
.secondaryFontFamily div > p {
  font-family: var(--secondaryFontFamily), serif;
}
