.field {
  margin: 1rem;
  position: relative;
}

.Checkbox {
  border: 1px solid rgba(var(--rgbValuesSecondary), 0.5);
  border-radius: 3px;
  font-size: 1.125rem;
  padding: 0.5rem;
  transform: scale(1.5);
  margin-right: 0.75rem;
}

.Checkbox:disabled {
  opacity: 0.6;
}

.Checkbox:disabled:hover {
  cursor: not-allowed;
}

.errorMessage {
  margin-top: 0.5rem;
  flex: 1;
  text-align: center;
}
