.checkboxGrouping {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.goodCheck {
  border-color: var(--successDeep);
  box-shadow: 0 0 1px 1px var(--successDeep);
  outline: none;
}

.badCheck {
  border-color: var(--errorDeep);
  box-shadow: 0 0 1px 1px var(--errorDeep);
  outline: none;
}

.floatRight {
  float: right;
}
