.flexGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select {
  min-width: 20rem;
  width: 100%;
  max-width: 50rem;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.filterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterButtons > button {
  margin: 1rem;
}

.filterButtons > div {
  margin: 1rem;
}

.whatAreQuestionsSection {
  display: flex;
}

.whatAreQuestionsSection > div {
  padding: 2rem;
}
