.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5rem;
}

.termDefinition {
  margin: 1rem 2rem;
  max-width: 500px;
}

.select {
  min-width: 20rem;
  width: 90%;
  max-width: 50rem;
}

.schoolCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered {
  margin: 1rem 0;
  text-align: center;
}
