.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5rem;
}

.termDefinition {
  margin: 1rem 2rem;
  max-width: 500px;
}

.select {
  min-width: 20rem;
  width: 90%;
  max-width: 50rem;
}

.schoolCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered {
  margin: 1rem 0;
  text-align: center;
}

.schoolLocationModal {
  width: 500px;
}

@media screen and (--small-viewport) {
  .schoolLocationModal {
    width: 100%;
  }
}

.schoolLocationModal > div {
  width: 100%;
}

.schoolLocalModalItem {
  padding: 8px 10px;
  border-bottom: 1px solid var(--gray);
}

.schoolLocalModalItem:last-child {
  border-bottom: 0;
  margin-bottom: 15px;
}