.flexGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select {
  min-width: 250px;
  width: 100%;
  max-width: 250px;
}

.filterButtons {
  display: flex;
}

.filterButtons > button {
  margin: 5px;
}

.filterButtons > div {
  padding-top: 5px;
  margin: 5px;
}
