.verticalSpacing {
  margin: 1rem 0;
}

.justifyAlign {
  text-align: justify;
}

.contactHero a {
  transition: color 0.2s linear;
}

.contactHero a:focus,
.contactHero a:hover {
  text-shadow: none;
  color: var(--primary);
}

.contactMethod {
  margin: 0 auto 2rem;
  max-width: 700px; /* keep in sync with paragraph max-width */
  font-style: normal;
}

.forceWidth {
  width: 100%;
}
