@import "../../common/styles/media-queries.css";

.image {
  margin: 2rem;
  max-width: 500px;
}

.cta {
  display: flex;
  flex-direction: column;
}

.centeredText {
  text-align: center;
}

.eventsLeadText {
  text-align: center;
  font-size: 1.25em;
}

.eventsCarousel {
  overflow: hidden;
  background-color: var(--gray);
  margin-top: -1em;
  padding-bottom: 3.5em;
}

.eventsCarouselItem {
  background-color: var(--secondary);
  height: 200px;
  padding: 1em 1.5em;
  color: var(--white);
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventsCarouselItemDate {
  margin-top: 0.5em;
}

.carouselControlLeft,
.carouselControlRight {
  background-color: var(--primary);
  color: var(--white);
  outline: 0;
  border: 0;
  font-size: 1.8em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  border-radius: 50%;
  height: 58px;
  width: 68px;
}

.carouselControlLeft {
  padding-left: 35px;
  margin-left: -30px;
}

.carouselControlRight {
  padding-right: 35px;
  margin-right: -30px;
}

.image img {
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.showImage img {
  opacity: 1;
}

.badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
}

.badge {
  fill: var(--secondary);
  margin: 1rem 4rem;
}

@media screen and (--medium-viewport) {
  .heroBannerMobilePositioning {
    background-position: right center;
  }
}
