.eventsPage section {
  padding: 5rem 0;
}

.eventsPage p {
  font-size: 1.25rem;
  max-width: 700px;
}

.alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.alignLeft {
  justify-content: flex-start;
  text-align: left;
}

.marginBottom {
  margin-bottom: 2rem;
}

.sectionHeading {
  line-height: 1.2;
  margin-bottom: 0;
}

.offsetImage img {
  opacity: 0;
  transition: opacity 1s;
}

.showImage img {
  opacity: 1;
}

.badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  fill: var(--slate);
  margin: 1rem 4rem;
}

.progressBarInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.donatedAmount {
  display: flex;
  align-items: center;
}

.donatedAmount .amount {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.goalAmount span:first-of-type {
  margin-right: 0.5rem;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 1.75rem;
  background-color: var(--grayDark);
  border: 2px solid var(--grayDark);
  border-radius: 50px;
  margin-bottom: 2rem;
}

.progressBarFill {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: var(--primaryLight);
  min-width: 12px; /* this will prevent the progress bar from disappearing */
  width: 12px; /* control this dynamically to show progress */
  max-width: calc(100% - 12px); /* this will prevent the progress bar from over-filling */
  border: 1px solid var(--primaryLight);
  border-radius: 50px 0 0 50px;
}

.gridContent {
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  .heroBannerMobilePositioning {
    background-position: right center;
  }
}

@media screen and (min-width: 769px) {
  .eventsPage section {
    padding: 8rem 0;
  }

  .grid {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .grid > div {
    width: 45%;
  }

  .gridContent {
    margin: 0;
  }

  .alignRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  .alignRight .sectionHeading {
    text-align: right;
    justify-content: flex-end;
  }

  .offsetImage img {
    object-fit: cover;
  }

  @media screen and (min-width: 1280px) {
    .grid .offsetImage {
      position: relative;
      height: 18rem;
    }

    .offsetImage img {
      position: absolute;
      bottom: 0;
      max-height: 450px;
    }
  }
}
