.GetInvolved .justifyAlign {
  text-align: justify;
}

.GetInvolved .topMargin {
  margin-top: 1rem;
}

.GetInvolved .extraTopMargin {
  margin-top: 2rem;
}

.GetInvolved .image {
  margin: 2rem;
  max-width: 500px;
}

.GetInvolved .cta {
  display: flex;
  flex-direction: column;
}

.GetInvolved .centeredText {
  text-align: center;
}

.GetInvolved .image img {
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.GetInvolved .showImage img {
  opacity: 1;
}

.GetInvolved .badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
}

.GetInvolved .badge {
  margin: 1rem 4rem;
}

@media screen and (--medium-viewport) {
  .GetInvolved .heroBannerMobilePositioning {
    background-position: 60% center;
  }
}
