.justifyAlign {
  text-align: justify;
}

.topMargin {
  margin-top: 1rem;
}

.extraTopMargin {
  margin-top: 2rem;
}

.image {
  margin: 2rem;
  max-width: 500px;
}

.cta {
  display: flex;
  flex-direction: column;
}

.centeredText {
  text-align: center;
}

.image img {
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.showImage img {
  opacity: 1;
}

.badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
}

.badge {
  margin: 1rem 4rem;
}

@media screen and (--medium-viewport) {
  .heroBannerMobilePositioning {
    background-position: 60% center;
  }
}
