.alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marginBottom {
  margin-bottom: 2rem;
}

.introSection {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.infoSection {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.ctaContent {
  flex-direction: row;
}

.infoSection h2 {
  margin-bottom: 0;
  line-height: 1.2;
}

.sectionHeading {
  justify-content: flex-start;
  text-align: left;
  line-height: 1.2;
}

.sectionHeading_introHeading {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: 55px;
  max-width: 13ch; /* this causes the line to break after the word 'make' in the title */
}

.sectionHeading_introHeading::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 2.5ch; /* This matches the width of 2.5 characters of the title font */
  border-bottom: 3px solid var(--primaryLight);
}

.imageWrapper img {
  display: none;
}

.buttonOutline {
  border: 2px solid var(--primaryLight);
  border-radius: 2px;
  padding: 0;
  font-weight: 600;
}

.buttonOutline:hover:enabled,
.buttonOutline:focus:enabled {
  background-color: var(--primaryLight);
  border-radius: 2px;
}

@media screen and (min-width: 750px) {
  .flexDisplay {
    display: flex;
  }

  .introSection {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .sectionContent {
    flex-flow: row;
    max-width: 960px;
  }

  .imageWrapper img {
    display: initial;
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    min-width: 350px;
    max-width: 800px;
    padding-left: 2rem;
  }
}
