.Index .hero {
  padding-top: 8rem;
}

.Index .justifyAlign {
  text-align: justify;
}

.Index .featuredLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 3rem 0;
}

.Index .featuredLinks a {
  text-decoration: none;
  transition: color 0.2s linear;
}

.Index .featuredLinkItem {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  width: auto;
}

.Index .featuredLinkImage {
  background-position: center center;
  background-size: cover;
  margin-top: 1rem;
  width: 390px;
  height: 150px;
  border: 2px solid rgb(0, 0, 0);
  transition: 0.2s linear border, 0.2s linear color;
}

.Index .featuredLinkImage:active,
.Index .featuredLinkImage:focus,
.Index .featuredLinkImage:hover,
.Index .featuredLinkItem a:active .featuredLinkImage,
.Index .featuredLinkItem a:focus .featuredLinkImage,
.Index .featuredLinkItem a:hover .featuredLinkImage {
  border: 2px solid var(--primary);
  transition: 0.2s linear border;
}

.Index .featuredLinkItem:active a,
.Index .featuredLinkItem:focus a,
.Index .featuredLinkItem:hover a {
  color: var(--primary);
  transition: 0.2s linear color;
}

.Index .cta {
  display: flex;
  flex-direction: column;
}

.Index .successStories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Index .partnerLogos {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
}

.Index .joinThrivingSection {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (--large-viewport) {
  .Index .featuredLinkImage {
    width: 300px;
    height: 125px;
  }
}

@media screen and (--small-viewport) {
  .Index .featuredLinkImage {
    width: 250px;
    height: 100px;
  }
}
