.hero {
  padding-top: 8rem;
}

.justifyAlign {
  text-align: justify;
}

.featuredLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 3rem 0;
}

.featuredLinks a {
  text-decoration: none;
  transition: color 0.2s linear;
}

.featuredLinkItem {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  width: auto;
}

.featuredLinkImage {
  background-position: center center;
  background-size: cover;
  margin-top: 1rem;
  width: 390px;
  height: 150px;
  border: 2px solid rgb(0, 0, 0);
  transition: 0.2s linear border, 0.2s linear color;
}

.featuredLinkImage:active,
.featuredLinkImage:focus,
.featuredLinkImage:hover,
.featuredLinkItem a:active .featuredLinkImage,
.featuredLinkItem a:focus .featuredLinkImage,
.featuredLinkItem a:hover .featuredLinkImage {
  border: 2px solid var(--primary);
  transition: 0.2s linear border;
}

.featuredLinkItem:active a,
.featuredLinkItem:focus a,
.featuredLinkItem:hover a {
  color: var(--primary);
  transition: 0.2s linear color;
}

.cta {
  display: flex;
  flex-direction: column;
}

.successStories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partnerLogos {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
}

.joinThrivingSection {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (--large-viewport) {
  .featuredLinkImage {
    width: 300px;
    height: 125px;
  }
}

@media screen and (--small-viewport) {
  .featuredLinkImage {
    width: 250px;
    height: 100px;
  }
}
