.alignCenter {
  align-self: center;
}

.centerText {
  text-align: center;
}

.container {
  width: 100%;
}

.marginBottom {
  margin-bottom: 20px;
}

.partnerLogos {
  max-width: 990px;
  display: flex;
  width: 80%;
  align-self: center;
  justify-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section {
  display: flex;
  align-self: center;
}

.successStories {
  display: flex;
  align-content: center;
}

.successStoryContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 649px) {
  .successStoryContainer {
    flex-direction: row;
  }
}
