.justifyAlign {
  text-align: justify;
}

.linkButtonContainer {
  text-align: center;
  margin-top: 2rem;
}

.honorRollCard {
  width: 50%;
}

.honorRollListHeader {
  margin-top: 2rem;
  text-decoration: underline;
}

.honorRollListHeader,
.honorRollList {
  width: 90%;
}

.benefitsList {
  margin-bottom: 2rem;
}
