.justifyAlign {
  text-align: justify;
}

.linkButtonContainer {
  text-align: center;
  margin-top: 2rem;
}

.leeadershipCircleMembersCard {
  width: 50%;
}

.leeadershipCircleMembersList {
  width: 90%;
}

.benefitsList {
  margin-bottom: 2rem;
}
