.bgTransparentBlue {
  background-color: rgba(21, 29, 48, 0.7);
}

.content {
  box-sizing: border-box;
  padding: 64px 2rem;
  font-family: "PF Din Display", sans-serif;
}

@media screen and (max-width: 667px) {
  .content {
    padding: 1rem;
  }
}

@media screen and (min-width: 668px) {
  .header {
    max-width: 475px;
  }
}

.title {
  color: #ffffff;
  font-weight: 400;
  font-size: 3rem;
}

.subtitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.statisticContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.statistic {
  composes: bgTransparentBlue;
  display: flex;
  margin: 0;
  padding: 0.5em;
  max-width: 500px;
}

.statistic + .statistic {
  margin-top: 1em;
}

.shortenedStatistic {
  max-width: 370px;
}

.statisticNumber {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  color: #98bddd;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem 0 0.5rem;
}

@media screen and (max-width: 959px) {
  .statisticNumber {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 667px) {
  .statisticNumber {
    flex-grow: 0;
  }
}

.statisticDescription {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.info {
  margin-top: 3em;
}

@media screen and (max-width: 667px) {
  .info {
    margin-bottom: 1em;
  }
}

.infoSubtitle {
  composes: subtitle;
}

@media screen and (max-width: 667px) {
  .infoSubtitle {
    background-color: rgba(21, 29, 48, 0.7);
    padding: 1rem;
    text-align: center;
  }
}

.event {
  display: flex;
}

@media screen and (max-width: 667px) {
  .event {
    flex-direction: column;
  }
}

.eventDetails {
  composes: bgTransparentBlue;
  display: flex;
  margin: 0;
  padding: 0.5em 0;
}

.detail {
  display: flex;
  align-items: center;
  color: #98bddd;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
}

.detail + .detail {
  border-left: 1px solid #98bddd47;
}

@media screen and (max-width: 959px) {
  .detail {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 667px) {
  .detail {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.rsvp {
  display: flex;
  align-items: center;
  background-color: #d1665a;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.7rem;
  padding: 1.3rem 2rem 1rem;
  text-decoration: none;
}

.rsvp:hover {
  background-color: #f1665a;
  border-color: #f1665a;
}

@media screen and (max-width: 667px) {
  .rsvp {
    justify-content: center;
  }
}
