.statisticContainer {
  display: flex;
  flex-direction: column;
  font-family: var(--primaryFontFamily), sans-serif;
  margin-top: 3em;
}

.statistic {
  background-color: rgba(0, 5, 30, 0.7);
  display: flex;
  margin: 0;
  padding: 0.5rem;
  max-width: 500px;
}

.statistic + .statistic {
  margin-top: 1rem;
}

.shortenedStatistic {
  max-width: 370px;
}

.statisticNumber {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  color: var(--primary);
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem 0 0.5rem;
}

@media screen and (--large-viewport) {
  .statisticNumber {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (--medium-viewport) {
  .statisticNumber {
    flex-grow: 0;
  }
}

.statisticDescription {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.7rem;
}
