.fullWidth {
  width: 90vw;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
}

.selectColumn {
  flex: 30%;
  margin: 0 1rem;
}

.filterContainer {
  margin: 2rem 0;
  width: 100%;
}

.resourcesCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
