.fullWidth {
  width: 90vw;
}

.selectContainer {
  display: flex;
  flex-wrap: wrap;
}

.selectColumn {
  flex: 30%;
  margin: 0 1rem;
}

.resourcesCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
