.boardMembers {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.staffMembers {
  composes: boardMembers;
  padding: 20px 0;
}

.foundingMembers {
  padding: 2rem 0 0 0;
}

@media screen and (max-width: 840px) {
  .boardMembers,
  .staffMembers {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}