.boardMembers {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.boardMembers img {
  object-fit: cover;
}

.foundingMembers {
  padding: 2rem 0 0 0;
}
