.justifyAlign {
  text-align: justify;
}

.centeredText {
  text-align: center;
}

.topMargin {
  margin-top: 2.5rem;
}

.badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
}

.badge {
  fill: var(--secondary);
  margin: 1rem 4rem;
}
