.HeroBanner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 480px;
  width: 100%;
}

.underline {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 1rem;
}

.HeroBanner .text {
  color: #ffffff;
  text-shadow: #000000 1px 0 15px;
  padding: 3rem;
}

@media only screen and (max-width: 768px) {
  .HeroBanner {
    height: 320px;
  }

  .text {
    padding: 2rem;
  }
}
