.HeroBanner {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 480px;
  justify-content: center;
  text-shadow: #000000 1px 0 15px;
  width: 100%;
}

.underline {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .HeroBanner {
    height: 320px;
  }
}
