.Heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 85%;
}

.headingLines:before,
.headingLines:after {
  flex-grow: 1;
  height: 3px;
  content: "\a0";
  background-color: var(--primary);
  align-self: center;
  margin: 0 10px 5px 10px;
}

.dark {
  color: var(--slate);
}

.white {
  color: #ffffff;
}
