.Heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.headingLines:before,
.headingLines:after {
  flex-grow: 1;
  height: 3px;
  content: "\a0";
  background-color: rgb(65, 164, 192);
  align-self: center;
  margin: 0 10px 5px 10px;
}

.dark {
  color: rgb(74, 74, 74);
}

.white {
  color: #ffffff;
}

@media screen and (max-width: 650px) {
  .heading {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 1.5em;
  }
}
