.IconTextGrouping {
  align-items: center;
  color: currentColor;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
  transition: color 125ms;
  width: 180px;
}

a.IconTextGrouping {
  font-family: "Noto Serif", sans-serif;
}

a.IconTextGrouping:hover {
  color: inherit;
}

.IconTextGrouping__icon {
  flex: 2;
}

.IconTextGrouping__title {
  text-align: center;
}

.IconTextGrouping__subtext {
  font-size: 0.9rem;
  text-align: left;
  width: inherit;
}
