.IconTextGrouping {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-decoration: none;
  transition: color 125ms;
  width: 180px;
}

.IconTextGrouping__icon {
  padding: 0.5rem 0 1rem;
}

.IconTextGrouping__title {
  color: var(--slate);
  text-align: center;
}

.IconTextGrouping__subtext {
  color: var(--slate);
  font-family: "Noto Serif", sans-serif;
  font-size: 0.9rem;
  text-align: left;
  width: inherit;
}

/* Theming */
.primary {
  color: var(--primary);
}

.primary:hover {
  color: var(--primaryLight);
  outline: 1px solid var(--slateLight);
}

.primary:active:not:hover {
  color: var(--primaryDark);
}

.secondary {
  color: var(--secondary);
}

.secondary:hover {
  color: var(--secondaryLight);
  outline: 1px solid var(--slateLight);
}

.secondary:active:not:hover {
  color: var(--secondaryDark);
}

.gray {
  color: var(--slate);
}

.gray:hover {
  color: var(--slateLight);
  outline: 1px solid var(--slateLight);
}

.gray:active:not:hover {
  color: var(--slateDark);
}
