/* Dark Themes */
.secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.secondary svg {
  fill: var(--white);
}

/* Light Themes */
.gray {
  background-color: var(--gray);
  color: var(--secondary);
}

.white {
  background-color: var(--white);
  color: var(--secondary);
}

.white svg,
.gray svg {
  fill: var(--secondary);
}
