.Container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  fill: currentcolor;
  flex-direction: column;
}

@media screen and (--small-viewport) {
  .Container > * {
    width: 85%;
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 577px) {
  .Container > * {
    width: 85%;
    margin: 0 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  .Container > * {
    max-width: 768px;
  }
}

@media screen and (min-width: 993px) {
  .Container > * {
    max-width: 1160px;
  }
}

/* need to have a higher order of specificity since HeroBanner fights it */
.Container.fullViewportHeight {
  min-height: 100vh;
}

/* Dark Themes */
.secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.secondary svg {
  fill: var(--white);
}

/* Light Themes */
.gray {
  background-color: var(--gray);
  color: var(--secondary);
}

.white {
  background-color: var(--white);
  color: var(--secondary);
}

.white svg,
.gray svg {
  fill: var(--secondary);
}
