.pressVideos {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.pressVideos iframe {
  padding: 25px;
}

/* Video iFrame Media Queries */
@media screen and (max-width: 960px) {
  .pressVideos iframe {
    width: 666px;
    height: 375px;
  }
}

@media screen and (max-width: 720px) {
  .pressVideos iframe {
    width: 444px;
    height: 250px;
  }
}

@media screen and (max-width: 480px) {
  .pressVideos iframe {
    width: 333px;
    height: 187.5px;
  }
}
