.pressVideos {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.pressVideos iframe {
  padding: 25px;
}

/* Video iFrame Media Queries */
@media screen and (--large-viewport) {
  .pressVideos iframe {
    width: 100%;
    height: 375px;
  }
}

@media screen and (--medium-viewport) {
  .pressVideos iframe {
    height: 250px;
  }
}

@media screen and (--small-viewport) {
  .pressVideos iframe {
    height: 187.5px;
  }
}
