.ValueCard {
  justify-content: flex-start;
  max-width: 350px;
  height: 350px;
  padding: 2rem;
}

@media screen and (--medium-viewport) {
  .ValueCard {
    height: auto;
  }
}

.name {
  text-align: center;
  text-decoration: underline;
}
