.BoardCard {
  max-height: 275px;
  transition: all 0.2s linear;
  width: 250px;
}

.BoardCard:focus,
.BoardCard:hover {
  height: auto;
  max-height: 650px;
}

.imageContainer {
  text-align: center;
  width: 125px;
}

.imageContainer > img {
  border-radius: 100%;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.15);
  filter: grayscale(100%);
  transition: filter 0.2s linear;
  width: 100%;
}

.BoardCard:focus img,
.BoardCard:hover img {
  filter: grayscale(0%);
}

.descriptionText {
  align-self: flex-start;
  opacity: 0;
  padding-top: 1rem;
  visibility: hidden;
}

.BoardCard:focus .descriptionText,
.BoardCard:hover .descriptionText {
  opacity: 1;
  transition: opacity 0.2s linear;
  transition-delay: 0.2s;
  visibility: visible;
}

.name {
  padding: 0.75rem 0;
  white-space: nowrap;
}

.role {
  padding: 0.5rem 0;
  text-align: center;
}

.hr {
  border-top: 1px solid #8c8b8b;
  width: 80%;
}

@media screen and (max-width: 450px) {
  .BoardCard {
    max-height: 650px;
    transition: none;
  }

  .descriptionText {
    opacity: 1;
    visibility: visible;
  }

  .BoardCard:focus,
  .BoardCard:hover {
    transition: none;
  }

  .BoardCard:focus .descriptionText,
  .BoardCard:hover .descriptionText {
    transition: none;
  }
}
