.ErrorDisplay {
  width: 100vw;
  height: 100vh;
  background: #121212;
}

.ErrorDisplay .bg {
  background-image: url("/static/images/TankFlip.gif");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
}

.paragraph {
  font-size: 1.4rem;
}
