@import "../../../common/styles/media-queries.css";

.Heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 85%;
}

.headingLines::before,
.headingLines::after {
  flex-grow: 1;
  height: 3px;
  content: "\a0";
  background-color: var(--primary);
  align-self: center;
  margin: 0 10px 5px 10px;
}

.secondary {
  color: var(--secondary);
}

.gray {
  color: var(--gray);
}

.white {
  color: var(--white);
}

@media screen and (--medium-viewport) {
  .Heading {
    width: 90%;
  }
}

@media screen and (--small-viewport) {
  .Heading {
    width: 100%;
  }
}
