.FlatCard {
  box-sizing: border-box;
  margin: 1.5rem 1rem;
  position: relative;
  max-width: 340px;
}

.rowCenter {
  display: flex;
  justify-content: center;
}

.imageWrapper {
  border: 3px solid var(--primary);
  order: 1;
  position: absolute;
  top: -1rem;
  height: 200px;
}

.header {
  order: 2;
  text-align: center;
}

.content {
  order: 3;
}

.borderContainer {
  padding: 2rem;
  border: 3px solid var(--primary);
}

.cardWithImage {
  padding-top: 60px;
}

.cardWithImage .borderContainer {
  padding: 150px 2rem 2rem;
}

.divider {
  width: 85%;
  border: 1px solid var(--primary);
}

.flatCardButton {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -27.5px;
}

.FlatCard .flatCardButton button:focus-visible,
.FlatCard .flatCardButton button:hover,
.FlatCard .flatCardButton a:focus-visible,
.FlatCard .flatCardButton a:hover {
  background-color: var(--white);
  color: var(--secondary);
}
