.Badge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.iconContainer > img,
.iconContainer > svg {
  fill: currentColor;
  height: 100px;
  margin: 1rem 0;
}

.label {
  font-size: 1.2rem;
  line-height: 1.2rem;
  white-space: nowrap;
}
