.Badge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.iconContainer > svg {
  fill: currentColor;
  height: 100px;
  margin-bottom: 1rem;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.2rem;
}
