.Footer {
  align-items: center;
  background-color: var(--navyDark);
  color: var(--mist);
  font-family: "PF Din Display", Arial, sans-serif;
  display: flex;
  height: 320px;
  justify-content: center;
  flex-direction: column;
}

.Footer * {
  box-sizing: border-box;
}

.Footer a {
  color: var(--mist);
  text-decoration: none;
}

.Footer:not(.logoGrouping) a:hover {
  /* Apply on-hover underline to text-based anchors */
  text-decoration: underline;
}

.footerWrapper {
  max-width: 1300px;
  margin-bottom: 2rem;
  padding: 0 50px;
}

.footerGrouping {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.socialGrouping {
  max-width: 220px;
}

.email {
  margin: 1rem 0;
}

.logoGrouping img {
  height: 40px;
}

.copyright {
  text-align: center;
}

.linksGrouping {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 50px;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 2.2rem;
}

.legalGrouping {
  max-width: 550px;
  padding: 0 1rem;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.newsletterGrouping {
  align-items: flex-start;
  max-width: 220px;
}

.newsletterHeading {
  line-height: 2.2rem;
}

.newsletterItem {
  max-width: 200px;
  width: 100%;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.marginBottom {
  margin-bottom: 10px;
}

.linksRow {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  justify-content: space-around;
}

.capitalize {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .linksGrouping {
    margin: 0;
  }

  .footerWrapper {
    padding: 0;
  }
}

@media screen and (max-width: 1100px) {
  .Footer {
    flex-direction: column;
    height: auto;
    padding-bottom: 2rem;
  }

  .footerGrouping {
    height: auto;
    margin: 1.25rem 0;
  }

  .socialGrouping {
    display: flex;
    max-width: 100%;
  }

  .newsletterGrouping {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .linksGrouping {
    width: 100%;
    flex-wrap: wrap;
  }

  .newsletterItem {
    max-width: 235px;
  }
}

@media screen and (max-width: 576px) {
  .linksGrouping {
    margin-left: 3rem;
  }

  .linksRow {
    flex: 1 1 100%;
    padding-bottom: 1rem;
  }

  .linksColumn {
    width: 150px;
  }

  .copyright {
    width: 100%;
  }

  .legalGrouping {
    justify-content: space-around;
  }
}
