@import "../../../common/styles/media-queries.css";

.interactionsContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (--small-viewport) {
  .interactionsContainer {
    flex-wrap: wrap;
  }
}

.interactionsContainer > button,
.interactionsContainer > span {
  margin: 1rem 0.5rem;
}

.singleLocationText {
  color: var(--secondary);
  font-weight: bolder;

  /* Matches up with Button stylings */
  margin: 1rem;
  min-width: 200px;
  text-align: center;
}

.divider {
  border: 2px solid var(--secondary);
  margin: 1rem 0;
  width: 100%;
}

.detailsRow {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.active {
  color: var(--secondary);
  fill: var(--secondary);
}

.disabled {
  color: var(--gray);
  fill: var(--gray);
}

.codeSchoolCardIcon > img,
.codeSchoolCardIcon > svg {
  fill: currentColor;
  height: 50px;
  margin: 1rem 0;
}
