.SchoolCard {
<<<<<<< HEAD
  color: #000000;
  padding: 0.5rem;
  height: 150px;
  width: 375px;
}

@media screen and (max-width: 500px) {
  .SchoolCard {
    width: 290px;
  }
}

.cardLinkOverrides {
  text-decoration: none;
}

.content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.SchoolCard section {
  height: 150px;
}

.logo {
  width: 150px;
  height: 150px;
}

.schoolCardText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1;
  padding-left: 1rem;
  height: 80%;
}

.location {
  font-size: 1.25rem;
  font-style: italic;
}

.info {
  list-style: none;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 1.5rem;
  }

  .location {
    font-size: 1rem;
  }

  .info {
    font-size: 0.8rem;
  }
=======
  max-width: 400px;
  height: 550px;
  font-family: var(--primaryFontFamily), sans-serif;
}

@media screen and (max-width: 576px) {
  .SchoolCard {
    height: 550px;
  }
}

.SchoolCard > img {
  height: 150px;
  margin: 1rem;
}

.backCard {
  background-color: var(--secondary);
  color: var(--white);
  position: relative;
>>>>>>> 1e3818fe1ed61deeda96881e0e7a718d44c1dd4e
}
