.SchoolCard {
  max-width: 400px;
  height: 550px;
  font-family: var(--primaryFontFamily), sans-serif;
}

@media screen and (--small-viewport) {
  .SchoolCard {
    height: 500px;
    max-width: 350px;
  }
}

.SchoolCard > img {
  height: 150px;
  margin: 1rem;
}

.backCard {
  background-color: var(--secondary);
  color: var(--white);
  position: relative;
}
