.SchoolCard {
  max-width: 400px;
  height: 450px;
}

@media screen and (max-width: 576px) {
  .SchoolCard {
    height: 550px;
  }
}

.SchoolCard > img {
  height: 150px;
}

.backCard {
  background-color: var(--secondary);
  color: #ffffff;
  position: relative;
}
