.SchoolCard {
  width: 330px;
  font-family: var(--primaryFontFamily), sans-serif;
  border: 1px solid var(--primary);
  justify-content: normal;
  padding: 0;
  position: relative;
  overflow: hidden;

  /* Hardcoded white background to match logo image background, which var(--white) does not match */
  background-color: #ffffff;
}

@media screen and (--large-viewport) {
  .SchoolCard {
    width: 300px;
  }
}

@media screen and (--small-viewport) {
  .SchoolCard {
    width: 75vw;
  }
}

.ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.3rem 0 0.1rem; /* Add more padding on top to fix vertically center */
  background: var(--secondary);
  color: var(--primary);
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(20%) translateY(0%) rotate(40deg);
  transform-origin: top left;
  z-index: 1;
}

.ribbon::before {
  right: 100%;
}

.ribbon::after {
  left: 100%;
}

.gi {
  width: 85px;
  background: var(--secondary);
  color: var(--primary);
}

.gi::before,
.gi::after,
.dual::before,
.dual::after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: var(--secondary);
}

.vettec {
  width: 85px;
  background: var(--primary);
  color: var(--secondary);
  padding: 1rem 0 0.1rem;
}

.vettec::before,
.vettec::after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: var(--primary);
}

.dual {
  width: 40px;
  background: var(--secondary);
  color: var(--primary);
}

.cardBrand {
  padding: 0.25rem 0;
  margin: 1.5rem 0;
}

.cardBrand > * {
  vertical-align: middle;
}

.SchoolCard,
.cardBlock {
  box-sizing: border-box;
}

.cardBlock {
  border-top: 1px solid var(--gray);
  display: flex;
  padding: 1rem 0.75rem;
  width: 100%;
}

.cardBlockTitle {
  font-weight: bold;
  display: block;
  margin-right: auto;
  padding-right: 6px;
  color: var(--secondary);
}

.cardBlockValue {
  font-weight: normal;
}

.SchoolCard .modalToggler {
  min-width: auto;
  text-transform: none;
  padding: 2px 6px 0;
  margin: -4px 0 0 7px;
  letter-spacing: 0;
  color: inherit;
  background-color: var(--gray);
  border: 2px solid var(--gray);
}

.SchoolCard .modalToggler:hover {
  background-color: transparent;
  color: var(--secondary);
  border-color: var(--gray);
}

@media screen and (--large-viewport) {
  .SchoolCard .modalToggler {
    margin-top: -5px;
  }
}

.badgeGroup {
  display: grid;
  padding: 0.75rem 0;
  width: 100%;
  grid-template: 50% 50% / 50% 50%;
  justify-items: center;
  align-items: center;
}

.active figcaption::after,
.inactive figcaption::after {
  position: absolute;
  top: -0.75rem;
  right: 1rem;
  width: 1.25rem;
}

.active figcaption::after {
  stroke: var(--successDeep);
  content: url("/static/images/icons/Custom/check-circle.svg");
}

.inactive figcaption::after {
  stroke: var(--errorDeep);
  content: url("/static/images/icons/Custom/x-circle.svg");
}

.badgeGroupItem.inactive {
  opacity: 0.75;
}

.badgeGroupItem.inactive figcaption::after {
  opacity: 1;
}

.badgeGroupItem {
  margin: 0.75rem 0;
  position: relative;
  width: 95px;
  font-size: 15px;
}

.badgeGroupItem svg {
  height: 32px;
  margin: 0;
}

.badgeGroupItem figcaption {
  margin-top: 10px;
}
