.CreateResourceForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--typicalMaxWidth);
}

.CreateResourceForm > * {
  margin: 1rem 0;
}

.submitButton {
  justify-self: flex-end;
  margin-top: 2rem;
}
