.logoSizeList {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.logoSizeList img,
.logoSizeList svg {
  height: auto;
  max-width: 100%;
}

.logoSizeList ul {
  margin-bottom: 1.5rem;
}

.logoSizeListItem {
  margin: 0;
  padding: 0;
  width: 100%;
}

.badgeList {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #bbbbbb;
  width: 100%;
  flex-flow: row wrap;
}
@media screen and (min-width: var(--largeViewportWidth)) {
  .badgeList dt {
    max-width: 33%;
  }
}

.badgeList dt figure {
  max-height: 405px;
}

.largeLogos .badgeList {
  flex-flow: column nowrap;
}

.badgeList span {
  font-size: 1.5rem;
  font-weight: bold;
}
