.timelineNav {
  padding: 0 4rem;
}

@media screen and (--small-viewport) {
  .timelineNav {
    padding: 0;
  }
}

.timelineNavLinksContainer {
  display: flex;
  justify-content: space-around;
}

.timelineNavLink {
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform opacity 100ms ease-in-out;
}

.timelineNavLink:not(:hover) {
  opacity: 0.6;
}

.timelineNavLink:hover {
  transform: scale(1.1);
}

.timelineNavSeperator {
  margin-top: 1rem;
  background-color: #d7d7d7;
  height: 2px;
}
