/* Defined as inline styles for testing purposes, but kept/used for applied styles */

/*
.visible {
  display: block;
}

.invisible {
  display: none;
}
*/

.accordion {
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  margin: 10px 0;
  padding: 1.125rem;
  width: 100%;
}

.accordionHeaderGrouping {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-family: var(--primaryFontFamily), sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: space-between;
  text-transform: uppercase;
}

.accordionHeaderGrouping header {
  color: var(--secondary);
}

.accordionToggleButton {
  appearance: none;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.325rem 0.125rem 0.125rem;
  text-decoration: none;
  width: 50px; /* for a non-jank outline */
}

.accordionToggleButton:hover {
  text-decoration: underline;
}

.accordionToggleButton:focus {
  outline: 1px solid var(--primary);
}

.accordionContent {
  position: relative;
  width: 100%;
}

.accordionContent.invisible {
  height: 0;
}

.accordionContent.visible {
  height: auto;
  margin-top: 0.5rem;
}

@media screen and (--medium-viewport) {
  .accordion {
    max-width: 270px;
  }
}

@media screen and (--small-viewport) {
  .accordion {
    max-width: 200px;
  }
}
