.Accordion {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin: 1rem auto;
  min-height: unset;
  min-width: unset;
  width: 100%;

  --widthUpToButtonInAccordion: 100%;
}

.headingContainer {
  text-align: left;
  color: white;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  text-transform: uppercase;
  width: var(--widthUpToButtonInAccordion);
}

.headingContainer:hover {
  cursor: pointer;
}

.icon {
  fill: currentColor;
  right: 1.25rem;
  width: 30px;
}

@media screen and (--medium-viewport) {
  .icon {
    right: 0.5rem;
  }
}

.rotate90 {
  transform: rotate(90deg);
}

.accordionContent {
  position: relative;
  width: var(--widthUpToButtonInAccordion);
}

button[data-state="open"] .icon {
  transform: rotate(90deg);
}

.Accordion button:focus-visible {
  border: 1px solid var(--primary);
  border-radius: 2px;
  outline: none;
}
