.photos {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.photos > img {
  max-width: 350px;
  width: auto;
  padding: 0.75rem;
}

@media screen and (--small-viewport) {
  .photos > img {
    width: 100%;
  }
}
