.Modal {
  position: relative;
}

.scrollableContainer {
  margin-top: 2.5rem;
  overflow: auto;
  max-height: 75vh;
}

.unscrollableContainer {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
