.Modal {
  position: relative;
}

.overlay {
  background-color: white;
  position: fixed;
  inset: 0;
  opacity: 50%;
}

.contentContainer {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.scrollableContainer {
  margin-top: 2.5rem;
  overflow: auto;
  max-height: 75vh;
}

.unscrollableContainer {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* React-Modal Overrides
 * Remove scroll on the body when react-modal is open */
/* stylelint-disable */
.Modal :global(.ReactModal__Html--open),
.Modal :global(.ReactModal__Body--open) {
  height: 100%;
  overflow: hidden;
}

.Modal :global(.ReactModal__Overlay) {
  align-items: center;
  display: flex;
  justify-content: center;
}
