{
  "globals": {
    "React": true
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "react-select",
            "message": "Please use `components/Form/Select/ThemedReactSelect` instead."
          },
          {
            "name": "react",
            "importNames": ["default"],
            "message": "React is globally availble for all page files."
          }
        ]
      }
    ]
  }
}
