/* TODO: determine how to put a gutter in between the resources */
.resourcesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.resourceCard {
  margin-right: 60px; /* Magic number, TODO replace with design spacing tokens */
}
