.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
  margin: 0 auto 2rem;
}

.form * {
  box-sizing: border-box;
}

.formControl ~ .formControl {
  margin-top: 16px;
}

.formControl input {
  background-color: #e6e6e6;
  color: #000000;
  border: none;
  font-size: 1.3em;
  padding: 0 16px;
  height: 50px;
  width: 100%;
}

.formControl input::placeholder {
  color: #000000;
}
