.StaffCard {
	height: 28rem;
	width: auto;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 1rem;
    padding: 15px;
}


.StaffCard:hover {
	box-shadow: 0 9px 28px rgba(0,0,0,0.25);
}

.StaffCard:hover > .img {
	filter: grayscale(0%);
}

.img {
	height: 125px;
	width: 125px;
	border-radius: 100%;
	box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
	filter: grayscale(100%);
}

.Name {
	font-size: 1.5rem;
}

.Hr {
	border-top: 1px solid #8c8b8b;
	width: 80%;
}

.Item {
	align-self: left;
}

.Upper {
	text-transform: uppercase;
	font-weight: 800;
}
