.Heading {
  display: flex;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

.headingContainer {
  display: flex;
  justify-content: center;
}

.headingOurMission {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  width: 85%;
  margin: 1rem auto;
}

.headingLines {
  width: 85%;
}

.headingLines::before,
.headingLines::after {
  flex-grow: 1;
  height: 3px;
  content: "\a0";
  background-color: var(--primary);
  align-self: center;
  margin: 0 10px 5px 10px;
}

.underline {
  border-bottom: 4px solid var(--primary);
  margin-bottom: 1rem;
}

.hashLinkContainer {
  position: relative;
}

@media screen and (--small-viewport) {
  .hashLinkContainer {
    width: min-content;
  }
}

.hashLinkContainer > a {
  position: absolute;
  left: -2rem;
}

.icon {
  width: 1rem;
  line-height: 2.25;
  height: 2rem;
  margin: -0.2rem 0.5rem;
  outline: none;
}

.Heading .icon {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear opacity, 0.2s linear visibility;
}

.Heading:hover .icon,
.Heading a:focus .icon {
  opacity: 1;
  visibility: visible;
  transition: 0.2s linear opacity, 0.2s linear visibility;
}
