.Heading {
  text-transform: uppercase;
  margin: 1rem 0;
}

.headingContainer {
  display: flex;
  justify-content: center;
}

.headingTextWithLinkIconOffset {
  margin-right: 26px;
}

.headingOurMission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 85%;
  margin: 1rem auto;
}

.headingLines::before,
.headingLines::after {
  flex-grow: 1;
  height: 3px;
  content: "\a0";
  background-color: var(--primary);
  align-self: center;
  margin: 0 10px 5px 10px;
}

.secondaryFont {
  color: var(--secondary);
}

.grayFont {
  color: var(--gray);
}

.whiteFont {
  color: var(--white);
}

.icon {
  width: 18px;
  pointer-events: none;
}

:target {
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
}

.anchor {
  line-height: 2.25;
  height: 2rem;
  margin: 1rem 0.25rem;
  outline: none;
}

.iconFillWhite {
  fill: #f7f7f7;
}

.iconFillBlue {
  fill: #252e3e;
}

.iconVisible {
  visibility: visible;
}

.iconHidden {
  visibility: hidden;
}

@media screen and (--medium-viewport) {
  .Heading {
    width: 90%;
  }
}

@media screen and (--small-viewport) {
  .Heading {
    width: 100%;
  }
}
