.Heading {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

.headingContainer {
  display: flex;
  justify-content: center;
}

.headingTextWithLinkIconOffset {
  margin-right: 2rem;
}

.headingOurMission {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  width: 85%;
  margin: 1rem auto;
}

.headingLines::before,
.headingLines::after {
  flex-grow: 1;
  height: 3px;
  content: "\a0";
  background-color: var(--primary);
  align-self: center;
  margin: 0 10px 5px 10px;
}

.underline {
  border-bottom: 4px solid var(--primary);
  margin-bottom: 1rem;
}

.icon {
  width: 18px;
  line-height: 2.25;
  height: 2rem;
  margin: -0.2rem 0.5rem;
  outline: none;
}

.iconFillBlue {
  fill: var(--secondary);
}

.iconFillWhite {
  fill: var(--white);
}

.Heading .icon {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear opacity, 0.2s linear visibility;
}

.Heading:hover .icon,
.Heading a:focus .icon {
  opacity: 1;
  visibility: visible;
  transition: 0.2s linear opacity, 0.2s linear visibility;
}

.anchorSpan {
  display: block;
  position: relative;
}

.anchorMargin {
  top: -70px;
}

.anchorMarginPodcast {
  top: -100px;
}

@media screen and (--medium-viewport), (--small-viewport) {
  .anchorMargin {
    top: -110px;
  }

  .anchorMarginPodcast {
    top: -110px;
  }
}

@media screen and (--small-viewport) {
  .icon {
    width: 16px;
  }
}
