.ErrorDisplay {
  background: #121212;
  height: 100vh;
  width: 100vw;
}

.ErrorDisplay .bg {
  align-items: center;
  background-image: url("/static/images/TankFlip.gif");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.textContainer {
  text-align: center;
  margin: 1rem auto;
}

.title {
  font-size: 4rem;
}

.paragraph {
  font-size: 1.4rem;
}
