.ModalCard {
  position: relative;
}

.closeButton {
  top: 1rem;
  right: 1rem;
  background: var(--slate);
  border-radius: 50%;
  border: none;
  position: absolute;
}

.closeButton:hover {
  background-color: var(--slateDark);
  cursor: pointer;
  outline: none;
}

.closeButton:focus {
  outline: 1px solid var(--slate);
  outline-offset: 1px;
}

.closeButtonIcon {
  /* I don't know why, but this is what gets a perfect circle wrapped around the icon */
  fill: var(--mist);
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;
  width: 1rem;
}

.scrollableContainer {
  margin-top: 1rem;
  overflow: auto;
  max-height: 75vh;
}

/* React-Modal Overrides
 * Remove scroll on the body when react-modal is open */
/* stylelint-disable */
:global(.ReactModal__Html--open),
:global(.ReactModal__Body--open) {
  height: 100%;
  overflow: hidden;
}

:global(.ReactModal__Overlay) {
  align-items: center;
  display: flex;
  justify-content: center;
}

:global(.ReactModal__Content) {
  width: 80%;
}
