.closeButton {
  align-self: flex-end;
  background: var(--primary);
  border-radius: 50%;
  border: none;
  position: relative;
  height: 2rem;
  width: 2rem;
}

.closeButton::after {
  content: "x";
  color: #ffffff;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}

.closeButton:hover {
  background-color: var(--primaryDark);
  cursor: pointer;
  outline: none;
}

.closeButton:focus {
  outline: 1px solid var(--slate);
}

.scrollableContainer {
  margin-top: 1rem;
  overflow: auto;
  max-height: 75vh;
}

/* React-Modal Overrides
 * Remove scroll on the body when react-modal is open */
/* stylelint-disable */
:global(.ReactModal__Html--open),
:global(.ReactModal__Body--open) {
  height: 100%;
  overflow: hidden;
}

:global(.ReactModal__Overlay) {
  align-items: center;
  display: flex;
  justify-content: center;
}

:global(.ReactModal__Content) {
  width: 80%;
}
