.ClipPathImage {
  color: #ffffff;
  text-decoration: none;
}

.link {
  border: 1px solid transparent;
}

.ClipPathImage img {
  /*
    Must force image to be these dimensions
    clip-path will look ugly otherwise
  */
  width: 300px;
  height: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 85%);
}

.ClipPathImage .content h6 {
  bottom: 1rem;
  position: relative;
  text-align: center;
}

.primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.slate {
  background-color: var(--slate);
  border-color: var(--slate);
}

.primary.link:hover,
.primary.link:focus {
  background-color: var(--primaryLight);
  border-color: var(--primaryLight);
}

.secondary.link:hover,
.secondary.link:focus {
  background-color: var(--secondaryLight);
  border-color: var(--secondaryLight);
}

.slate.link:hover,
.slate.link:focus {
  background-color: var(--slateLight);
  border-color: var(--slateLight);
}
