.boardCard {
  max-height: 275px;
  transition: all 0.1s linear;
  width: 250px;
}

.imageContainer {
  text-align: center;
  width: 250px;
}

.imageContainer img {
  border-radius: 100%;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.15);
  filter: grayscale(100%);
  height: 125px;
  transition: filter 0.1s linear;
  width: 55%;
}

.descriptionText {
  align-self: flex-start;
  opacity: 0;
  padding: 1rem 0 0 0;
  visibility: hidden;
}

.boardCard:hover {
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.25);
  height: auto;
  max-height: 650px;
  transition: box-shadow 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.boardCard:hover .descriptionText {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.2s;
  visibility: visible;
}

.boardCard:hover img {
  filter: grayscale(0%);
}

.name {
  padding: 0.75rem 0;
  white-space: nowrap;
}

.role {
  padding: 0.5rem 0;
  text-align: center;
}

.hr {
  border-top: 1px solid #8c8b8b;
  width: 80%;
}

@media screen and (max-width: 450px) {
  .boardCard {
    max-height: 650px;
    transition: none;
  }

  .descriptionText {
    opacity: 1;
    visibility: visible;
  }

  .boardCard:hover {
    transition: none;
  }

  .boardCard:hover .descriptionText {
    transition: none;
  }
}
