.field {
  margin: 1rem;
}

.Input {
  border: 1px solid rgba(var(--rgbValuesSecondary), 0.5);
  border-radius: 3px;
  font-size: 1.125rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  min-width: 200px;
}

.Input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 1px 1px rgba(var(--rgbValuesPrimary), 0.75);
  outline: none;
}

.Input:disabled {
  opacity: 0.6;
}

.Input:disabled:hover {
  cursor: not-allowed;
}

/* error message element */
.inputFeedBackgrouping > div {
  max-width: 202px; /* so that aside content doesn't span past width of input */
}

.valid {
  border-color: var(--successDeep);
  box-shadow: 0 0 1px 1px var(--successDeep);
  outline: none;
}

.invalid {
  border-color: var(--errorDeep);
  box-shadow: 0 0 1px 1px var(--errorDeep);
  outline: none;
}
