.Nav {
  background-color: var(--mist);
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 0;
  height: var(--navBarHeight);
  max-width: 1200px;
}

.Nav a {
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}

.Nav li {
  list-style: none;
}

.link {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logoLink {
  height: 100%;
}

.logo {
  align-self: center;
  height: 80%;
  margin-left: 1rem;
}

/* One-off differences from other link items */
.donateLink {
  background-color: var(--primaryLight);
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
  color: var(--slateDark);
  height: 100%;
  padding: 0 2rem;
  transition: color 0.2s linear;
}

.donateLink > span {
  align-self: center;
}

.donateLink:focus,
.donateLink:hover {
  color: var(--mist);
  cursor: pointer;
  transition: color 0.2s linear;
}
