.DonateSection {
  background-image: url("https://s3.amazonaws.com/operationcode-assets/background_flag.jpg");
}

.donateText {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 750px;
}

.donateText p {
  color: #ffffff;
  font-size: 1.25rem;
}

.donateText p:last-of-type {
  padding-bottom: 2rem;
}
