<<<<<<< HEAD
.DonateSection {
  background-image: url("https://s3.amazonaws.com/operationcode-assets/background_flag.jpg");
}

.donateText {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 90%;
}

.donateText p {
  font-size: 1.25rem;
}

.donateText p:last-of-type {
  padding-bottom: 2rem;
=======
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  max-width: 50rem;
>>>>>>> 1e3818fe1ed61deeda96881e0e7a718d44c1dd4e
}
