.field {
  margin: 1rem;
}

.errorMessage {
  /* Alert's border is only 1px - not 2px (account for Input's left and right border) */
  max-width: calc(inherit + 2px);
}

/* .Select > div:first-child is how we target the actual input of `react-select` */
.Select .control {
  border: 1px solid rgba(var(--rgbValuesSecondary), 0.5);
  border-radius: 3px;
  font-size: 1.125rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  min-width: 200px;
}

.valid .control {
  border-color: var(--successDeep);
  box-shadow: 0 0 1px 1px var(--successDeep);
  outline: none;
}

.invalid .control {
  border-color: var(--errorDeep);
  box-shadow: 0 0 1px 1px var(--errorDeep);
  outline: none;
}

.Input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 1px 1px rgba(var(--rgbValuesPrimary), 0.75);
  outline: none;
}

.Input:disabled {
  opacity: 0.6;
}

.Input:disabled:hover {
  cursor: not-allowed;
}

.valid {
  border-color: var(--successDeep);
  box-shadow: 0 0 1px 1px var(--successDeep);
  outline: none;
}

.invalid {
  border-color: var(--errorDeep);
  box-shadow: 0 0 1px 1px var(--errorDeep);
  outline: none;
}
