<<<<<<< HEAD
.screenReaderOnly {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

=======
>>>>>>> 1e3818fe1ed61deeda96881e0e7a718d44c1dd4e
.externalLinkIcon {
  fill: currentColor;
  left: 4px;
  top: 2px;
  padding-right: 0.25rem;
  position: relative;
  width: 13px;
}
