.SchoolCard {
  color: #000000;
  padding: 0.5rem;
  height: 150px;
  width: 375px;
}

@media screen and (max-width: 500px) {
  .SchoolCard {
    width: 290px;
  }
}

.cardLinkOverrides {
  text-decoration: none;
}

.content {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.SchoolCard section {
  height: 150px;
}

.logo {
  width: 150px;
  height: 150px;
}

.schoolCardText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1;
  padding-left: 1rem;
  height: 80%;
}

.location {
  font-size: 1.25rem;
  font-style: italic;
}

.info {
  list-style: none;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 1.5rem;
  }

  .location {
    font-size: 1rem;
  }

  .info {
    font-size: 0.8rem;
  }
}
