.blogsList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.blog {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogCard {
  width: auto;
}

@media screen and (--medium-viewport) {
  .blog {
    width: 50%;
  }
}

@media screen and (--small-viewport) {
  .blog {
    width: 100%;
  }
}
