.blogsList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0 1.25rem;
}

.blog {
  width: 32%;
  margin: 0 0.25rem;
}

.blogCard {
  width: auto;
  margin: 0.75rem auto;
}

@media screen and (--medium-viewport) {
  .blog {
    width: 48%;
  }
}

@media screen and (--small-viewport) {
  .blog {
    width: 100%;
  }
}
