.Chapters .hero {
  min-height: 0;
  padding-top: 7rem;
  padding-bottom: 1rem;
}

.Chapters .locations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.Chapters .contributeLocation {
  width: 100%;
  text-align: center;
}
