.Contact .verticalSpacing {
  margin: 1rem 0;
}

.Contact .contactHero a {
  transition: color 0.2s linear;
}

.Contact .contactHero a:focus-visible,
.Contact .contactHero a:hover {
  text-shadow: none;
  color: var(--primary);
}

.Contact .contactMethod {
  margin: 0 auto 2rem;
  max-width: var(--typicalMaxWidth);
  font-style: normal;
}

.Contact .forceWidth {
  width: 100%;
}
