.Events .topMargin {
  margin-top: 1rem;
}

.Events .image {
  margin: 2rem;
  max-width: 500px;
}

.Events .meetupCardHeader {
  min-height: 210px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  padding: 0 0.25em;
}

.Events .centeredText {
  text-align: center;
}

.Events .image img {
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.Events .showImage img {
  opacity: 1;
}

.Events .badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
  width: 100%;
}

.Events .badge {
  margin: 1rem 4rem;
}

/*
comment out carousel styles until api endpoint complete
*/

/*
.Events .eventsLeadText {
  text-align: center;
  font-size: 1.25em;
}

.Events .eventsCarousel {
  overflow: hidden;
  background-color: var(--gray);
  margin-top: -1em;
  padding-bottom: 3.5em;
}

.Events .eventsCarouselItem {
  background-color: var(--secondary);
  height: 200px;
  padding: 1em 1.5em;
  color: var(--white);
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 17.5px;
  cursor: default;
}

.Events .eventsCarouselItemDate {
  margin-top: 0.5em;
}

.Events .carouselControlLeft,
.Events .carouselControlRight {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  outline: 0;
  border: 0;
  font-size: 1.8em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  border-radius: 50%;
  height: 58px;
  width: 68px;
  cursor: pointer;
}

.Events .carouselControlLeft > svg,
.Events .carouselControlRight > svg {
  fill: var(--white);
  height: 30px;
}

.Events .carouselControlLeft {
  padding-left: 35px;
  margin-left: -30px;
}

.Events .carouselControlRight {
  padding-right: 35px;
  margin-right: -30px;
}

@media screen and (--medium-viewport) {
  .Events .eventsCarouselItem {
    margin: 0 10px;
  }
}
*/

@media screen and (--large-viewport) {
  .Events .meetupCardHeader {
    min-height: 125px;
  }
}
