.FAQ .FAQAccordion {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  box-shadow: none;
  color: var(--white);
  display: block;
  padding: 1.125rem;
  width: 100%;
}

.FAQ .FAQAccordion svg {
  fill: currentColor;
  top: 0.75rem;
}
