:global(#__next) .GetInvolved .ctaContainer {
  display: flex;
  width: 100%;
  max-width: var(--typicalMaxWidth);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

:global(#__next) .GetInvolved .ctaContainer > * {
  margin-top: 1rem;
}

:global(#__next) .GetInvolved .topMargin {
  margin-top: 1rem;
}

:global(#__next) .GetInvolved .extraTopMargin {
  margin-top: 2rem;
}

:global(#__next) .GetInvolved .image {
  margin: 2rem;
  max-width: 500px;
}

:global(#__next) .GetInvolved .cta {
  display: flex;
  flex-direction: column;
}

:global(#__next) .GetInvolved .centeredText {
  text-align: center;
}

:global(#__next) .GetInvolved .image img {
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

:global(#__next) .GetInvolved .showImage img {
  opacity: 1;
}

:global(#__next) .GetInvolved .badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
}

:global(#__next) .GetInvolved .badge {
  margin: 1rem 4rem;
}

@media screen and (--medium-viewport) {
  :global(#__next) .GetInvolved .heroBannerMobilePositioning {
    background-position: 60% center;
  }
}
