.Home .hero {
  padding: 0;
}

.Home .ctaContainer {
  display: flex;
  width: 100%;
  max-width: var(--typicalMaxWidth);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Home .ctaContainer > * {
  margin-top: 1rem;
}

.Home .justifyAlign {
  text-align: justify;
}

.Home .mission {
  display: flex;
  flex-direction: column;
}

.Home .successStories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Home .partnerLogos {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
}

.Home .joinThrivingSection {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
}
