.Home .hero {
  padding: 0;
}

.Home .hero h1 {
  margin: 0;
}

.Home .hero p {
  margin: 2rem auto;
}

.Home .ctaContainer > a:first-of-type {
  margin-right: 1rem;
}

.Home .justifyAlign {
  text-align: justify;
}

.Home .cta {
  display: flex;
  flex-direction: column;
}

.Home .successStories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Home .partnerLogos {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
}

.Home .joinThrivingSection {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (--large-viewport) {
  .Home .featuredLinkImage {
    width: 300px;
    height: 125px;
  }
}

@media screen and (--small-viewport) {
  .Home .featuredLinkImage {
    width: 250px;
    height: 100px;
  }
}
