.LeadershipCircle .justifyAlign {
  text-align: justify;
}

.LeadershipCircle .linkButtonContainer {
  text-align: center;
  margin-top: 2rem;
}

.LeadershipCircle .leadershipCircleMembersCard {
  width: 50%;
}

.LeadershipCircle .leadershipCircleMembersList {
  width: 90%;
}

.LeadershipCircle .benefitsList {
  margin-bottom: 2rem;
}
