.Podcast .hero {
  min-height: 0;
  padding-top: 7rem;
  margin-bottom: -4rem;
}

.Podcast .podcastCards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Podcast .podcastCard {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow: hidden; /* prevent devs from bloating content */
  margin: 1.5rem;
  width: 500px;
}

.Podcast .podcastCard p {
  overflow-y: scroll;
  height: 250px;
}

@media screen and (--small-viewport) {
  .Podcast .podcastCard {
    width: 100%;
  }
}

.Podcast .img {
  max-height: 200px;
  max-width: 100%;
  object-fit: cover;
}
