.Press .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Press .column {
  flex: 33%;
}

@media screen and (--large-viewport) {
  .Press .column {
    flex: 50%;
  }
}

@media screen and (--medium-viewport) {
  .Press .column {
    flex: 100%;
  }
}

.Press .textGrouping {
  margin: 1rem;
}

.Press .logos {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.Press .logos > .imgBox {
  padding: 25px;
  height: auto;
  width: 45%;
  max-width: 560px;
}

.Press .logos a {
  color: #249cbc;
  text-decoration: none;
}

@media screen and (--extra-large-viewport) {
  .Press .logos > .imgBox {
    width: 350px;
  }
}

@media screen and (--extra-small-viewport) {
  .Press .logos > .imgBox {
    width: 300px;
  }
}
