.Resources .resourcesContainer {
  width: 70vw;
}

.Resources .resourcesContainer .cta {
  margin: 0 auto 2rem;
  text-align: center;
}

.Resources .resourcesContainer .cta a,
.Resources .resourcesContainer .cta button {
  display: block;
  margin: 1rem auto;
  width: fit-content;
}

@media screen and (--medium-viewport) {
  .Resources .resourcesContainer {
    width: 90vw;
  }
}

.Resources .formContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Resources .selectColumn {
  flex: 50%;
}

.Resources .buttonGroup {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap;
  margin: 1rem auto 4rem;
}

@media screen and (--small-viewport) {
  .Resources .buttonGroup {
    justify-content: center;
  }
}

.Resources .buttonSingle {
  margin: 0.5rem;
}

@media screen and (--small-viewport) {
  .Resources .buttonSingle {
    box-sizing: border-box;
    width: 92.5%;
  }
}

.Resources .resourcesCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Resources .algoliaLink {
  float: right;
  color: rgba(var(--rgbValuesSecondary), 0.75);
  font-size: 0.75rem;
  margin-right: 1rem;
}
