.Services .centeredText {
  text-align: center;
}

.Services .topMargin {
  margin-top: 2.5rem;
}

.Services .badgeGroupings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
}

.Services .badge {
  fill: var(--secondary);
  margin: 1rem 4rem;
}
