.Sponsorship .constrainDimensions {
  justify-content: flex-start;
  max-width: 350px;
  height: 250px;
}

.Sponsorship .badgeFormat {
  font-size: 1.5rem;
  font-weight: 550;
  margin-top: 1.5rem;
}

.Sponsorship .gold {
  color: #ffaa22;
}

.Sponsorship .silver {
  color: silver;
}

.Sponsorship .bronze {
  color: #cd7f32;
}

.Sponsorship .paragraphFormat {
  padding: 0 2rem;
}
