.Team .hero {
  background-position: center 30%;
}

.Team .teamMembers {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.Team .teamMembers img {
  object-fit: cover;
}

.Team .foundingMembers {
  padding: 2rem 0 0 0;
}

.textAlignCenter {
  text-align: center;
}
