.RegistrationForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topMargin {
  margin-top: 1rem;
}

.RegistrationForm > p {
  margin: 1.25rem auto;
}

<<<<<<< HEAD
.RegistrationForm label {
  display: block;
  margin: 1rem;
}
=======
.Field > .checkWidth {
  min-width: 0px !important;
  width: 40px;
  height: 40px;
}
>>>>>>> 98f86fed... stylint
