.RegistrationForm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topMargin {
  margin-top: 1rem;
}

.RegistrationForm > p {
  margin: 1.25rem auto;
}

.Input[type="checkbox"] {
  border: 3px blue dotted;
  width: 40px;
  height: 40px;
  display: flex;
}

.floatLeft {
  float:right;
  border: 3px green dashed;
}