.LinkButton {
  align-items: center;
  background-color: rgba(0, 0, 0, 0); /* transparent */
  border: 4px solid var(--primary);
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1.25;
  min-width: 200px;
  padding: 1rem;
  transition: background-color 0.2s linear;
  text-decoration: none;
  text-transform: uppercase;
}

.LinkButton:active,
.LinkButton:focus,
.LinkButton:hover {
  background-color: var(--primary);
}

.LinkButton:active,
.LinkButton:focus {
  outline-color: var(--primary);
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 3px;
}
