.button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.25;
  min-width: 200px;
  padding: 0.75rem;
  text-decoration: none;
}

.fullWidth {
  width: 100%;
}

.primary {
  background-color: var(--primary);
  border-color: var(--primaryDark);
  color: #ffffff;
}

.primary:active,
.primary:focus,
.primary:hover {
  background-color: var(--primaryLight);
}

.secondary {
  background-color: var(--secondary);
  border-color: var(--secondaryDark);
  color: #ffffff;
}

.secondary:active,
.secondary:focus,
.secondary:hover {
  background-color: var(--secondaryLight);
}

.gray {
  background-color: var(--gray);
  border-color: var(--grayDark);
  color: #ffffff;
}

.gray:active,
.gray:focus,
.gray:hover {
  background-color: var(--grayLight);
}
