.Button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.25;
  min-width: 200px;
  padding: 0.75rem;
  transition: 0.1s linear background-color;
  text-decoration: none;
}

.Button:active,
.Button:focus {
  outline-color: #000000;
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 2px;
}

.fullWidth {
  width: 100%;
}

.primary {
  background-color: var(--primary);
  border-color: var(--primaryDark);
  color: #ffffff;
  outline-color: var(--primaryDark);
}

.primary:hover {
  background-color: var(--primaryLight);
}

.primary:active:not:hover {
  background-color: var(--primaryDark);
}

.secondary {
  background-color: var(--secondary);
  border-color: var(--secondaryDark);
  color: #ffffff;
  outline-color: var(--secondaryDark);
}

.secondary:hover {
  background-color: var(--secondaryLight);
}

.secondary:active:not:hover {
  background-color: var(--secondaryDark);
}

.gray {
  background-color: var(--gray);
  border-color: var(--grayDark);
  color: #ffffff;
  outline-color: var(--grayDark);
}

.gray:hover {
  background-color: var(--grayLight);
}

.gray:active:not:hover {
  background-color: var(--grayDark);
}
