.colorPalette {
  text-align: center;
  margin: auto;
}

.colorPalette:last-child {
  margin-top: 0;
}

.colorImages {
  display: inline-block;
  margin: 1em;
}

.colorImages img {
  max-width: 300px;
}

.colorImages p {
  text-align: left;
}
